doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    title Noom
  body 
    header
      h1 Noom
    main
      div#welcome
        form
          input(placeholder="room name", required, type="text")
          button Enter room
        h4 Open Rooms: 
          ul
      div#call
        div#myStream
          select#cameras(name="") 
          div#faceContainer
            video#myFace(autoplay, playsinline, width="400", height="400")
            video#peerFace(autoplay, playsinline, width="400", height="400")
          button#mute Mute
          button#camera Camera off
          button#chatBtn Chat off
          div#chat
            ul
            form#msg
              input(type="text", placeholder="Write a message.", required)
              button Send
          
    script(src="/socket.io/socket.io.js") 
    script(src="/public/app.js") 